body {
  margin: 0;
  padding: 0;
  cursor: none;
  background: black;
  width: 100vw;
  height: 100vh;
}

.circle {
  background-color: lightblue;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  pointer-events: none;
}

.big-circle {
  background-color: transparent;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: .2rem solid white;
  pointer-events: none;
}

.text {
  color: white;
}

.side {
  animation: sideway 8s ease-in infinite;
}

@keyframes sideway {
  0% {
    left: 5vw;
    top: 10vh;
  }

  25% {
    left: 90vw;
    top: 10vh;
  }

  50% {
    left: 90vw;
    top: 90vh;
  }

  75% {
    left: 5vw;
    top: 90vh;
  }

  100% {
    left: 5vw;
    top: 10vh;
  }
}