body {
  margin: 0;
  padding: 0;
  background: black;
  width: 100vw;
  height: 100vh;
}

* {
  cursor: none;
}

.circle {
  position: absolute;
  background-color: lightblue;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  pointer-events: none;
  margin: 10px;
}

._1 {
  background-color: white;
}

._2 {
  background-color: green;
}

._3 {
  background-color: orange;
}

.big-circle {
  background-color: transparent;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: .2rem solid white;
  pointer-events: none;
}

.text {
  color: white;
}

.side {
  animation: sideway 8s ease-in infinite;
}

.side2 {
  animation: sideway2 8s ease-in infinite;
}

.side3 {
  animation: sideway3 8s ease-in infinite;
}

@keyframes sideway {
  0% {
    left: 40vw;
    top: 40vh;
  }

  25% {
    left: 60vw;
    top: 40vh;
  }

  50% {
    left: 60vw;
    top: 60vh;
  }

  75% {
    left: 40vw;
    top: 60vh;
  }

  100% {
    left: 40vw;
    top: 40vh;
  }
}

@keyframes sideway2 {
  0% {
    left: 45vw;
    top: 45vh;
  }

  25% {
    left: 55vw;
    top: 45vh;
  }

  50% {
    left: 55vw;
    top: 55vh;
  }

  75% {
    left: 45vw;
    top: 55vh;
  }

  100% {
    left: 45vw;
    top: 45vh;
  }
}

@keyframes sideway3 {
  0% {
    left: 35vw;
    top: 35vh;
  }

  25% {
    left: 65vw;
    top: 35vh;
  }

  50% {
    left: 65vw;
    top: 65vh;
  }

  75% {
    left: 35vw;
    top: 65vh;
  }

  100% {
    left: 35vw;
    top: 35vh;
  }
}